@import './colors';

.btnPrimary {
    background: $yellow;
    border: none;
    border-radius: 24px;
    color: $black;
    font-size: 0.85em;
    padding: 8px 32px;
}

.btnPrimary:hover,
.btnPrimary:active,
.btnPrimary:hover:active,
.btnPrimary:focus,
.btnPrimary:not(:disabled):not(.disabled):active:focus {
    background: $yellow_dark;
    box-shadow: none;
    color: $black;
}
