@import '../../styles/colors';

.movieDetails {
    background: $blue;
    background-size: cover;
    background-position: center center;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.movieDetailsWrapper {
    background: rgba(3, 3, 3, 0.7);
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.header {
    font-weight: bold;
}

.movieAttrLabel {
    font-size: 1.2em;
    font-weight: bold;
}

.movieAttrValue {
    font-size: 1em;
}

.movieAttrOnlyValue {
    font-size: 1.2em;
}

.castContainer {
    display: flex;
    flex-wrap: wrap;
}

.viewAllCast {
    color: $white;
    cursor: pointer;
    font-size: 0.9em;
    text-decoration: underline;
}
