@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import "colors";
@import "sizes";

html, body {
  color: $white;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

html, body, #root, .watchlist-app {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.watchlist-app {
  display: flex;
  width: 100%;
}


//
// Utilities

.fs-big {
  font-size: $fs-big;
}


//
// Customized bootstrap buttons

.btn-primary {
  background: $yellow;
  border: none;
  border-radius: 16px;
  color: $black;
  padding: 8px 32px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:hover:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  background: $yellow_dark;
  box-shadow: none;
  color: $black;
}


//
// Sidebar

.sidebar {
  background: $blue_dark;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 320px;

  // User greet
  .greet {
    //background: white;
    overflow: hidden;
    padding: 24px;
    white-space: nowrap;

    .avatar {
      border-radius: 50%;
      margin-right: 16px;
      height: 40px;
      vertical-align: middle;
      width: 40px;
    }

    .greet-text {
      font-size: $fs-big;
      //text-overflow: ellipsis;
    }
  }

  // Sidebar item
  .sidebar-item {
    cursor: pointer;
    font-size: $fs-small;
    font-weight: bold;
    padding: 16px 24px;
  }
  .sidebar-item:hover {
    background: $blue;
  }

  .sidebar-item.active {
    background: $blue;
    border-right: 4px solid $yellow;
  }

  // Stylish button to create list
  .btn-primary {
    border-radius: 20px;
    height: 40px;
    width: 180px;
  }

  hr {
    background: $blue;
    margin-left: 16px;
    margin-right: 16px;
  }
}


//
// Main content section

.section-content {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: auto;
  width: calc(100% - 320px);
}

// Login section
.section-login {
  background: $blue;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  padding-top: 250px;

  .title {
    font-size: $fs-bigger;
  }

  .btn-facebook {
    background-color: #2476f2;
    background-image: url("../img/ic_facebook.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 18px 6px;
    border: none;
    border-radius: 30px;
    color: $white;
    height: 50px;
    width: 280px;
  }

  .btn-google {
    background-color: #FFF;
    background-image: url("../img/ic_google.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 20px 14px;
    border: none;
    border-radius: 30px;
    color: #757575;
    height: 50px;
    width: 280px;
  }
}

// List section
.section-list {
  background: $blue;
  min-height: 100%;
  padding: 32px;

  .headerbar {

    .title {
      font-size: $fs-display;
      font-weight: bold;
    }

    .inp-search {
      background: $blue_dark;
      background-image: url("../img/ic_search.png");
      background-position: calc(300px - 32px) center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      border: none;
      border-radius: 19px;
      color: $white;
      height: 38px;
      outline: none;
      padding-left: 16px;
      padding-right: 40px;
      width: 300px;
    }
  }

  .movie-item {
    cursor: pointer;
    width: 225px;

    .image {
      background-size: cover;
      background-position: center center;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.56);
      height: 320px;
      margin-bottom: 12px;
      width: 224px;
    }

    .title {
      font-size: 0.9em;
      font-weight: bold;
      line-height: 17px;
    }

    .subtitle {
      font-size: 0.9em;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 991px) {

  .section-list {

    .movie-item {
      width: 190px;
    }

    .movie-item .image {
      height: 272px;
      width: 190px;
    }
  }
}

@media screen and (max-width: 767px) {

  .section-list {
    padding: 16px;

    .movie-item {
      width: 150px;
    }

    .movie-item .image {
      height: 215px;
      width: 150px;
    }
  }
}

@media screen and (max-width: 575px) {

  .section-list {
    padding: 8px;

    .movie-item {
      width: 170px;
    }

    .movie-item .image {
      height: 243px;
      width: 170px;
    }
  }
}

@media screen and (max-width: 424px) {

  .section-list {

    .movie-item {
      width: 120px;
    }

    .movie-item .image {
      height: 172px;
      width: 120px;
    }
  }
}
