@import '../../../styles/colors';
@import '../../../styles/sizes';

.headerBar {
    align-items: center;
    background: $blue;
    display: flex;
}

.title {
    font-size: $fs-display;
    font-weight: bold;
    flex-grow: 1;
    margin-bottom: 0px;
}

.searchBar {
    background: $blue_dark;
    border-radius: 4px;
    align-items: center;
    flex-grow: 1;
    border-bottom: 1px solid $yellow_dark;
    display: flex;
    height: 38px;
    padding: 0 8px;
}

.inpSearch {
    background: $blue_dark;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    border: none;
    color: $white;
    flex-grow: 1;
    font-size: $fs-big;
    height: 100%;
    outline: none;

    &::placeholder {
        color: $gray_light
    }
}

.toolbar {
    display: flex;
    align-items: center;
}

.toolbarBtn {
    color: $yellow;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 24px;
}

.closeSearchBtn {
    composes: toolbarBtn;
    color: $red
}
